/* ALL */

.neat-icon.ni-arrow-down--filled div:nth-child(1),
.neat-icon.ni-arrow-down--outline div:nth-child(1),
.neat-icon.ni-arrow-down--duotone div:nth-child(1),
.neat-icon.ni-arrow-down--filled div:nth-child(4),
.neat-icon.ni-arrow-down--outline div:nth-child(4),
.neat-icon.ni-arrow-down--duotone div:nth-child(4) {
  top: 47.75%;
  left: 50%;
  width: 87.5%;
  height: 6.25%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: var(--color-primary);
  border: none;
}

.neat-icon.ni-arrow-down--filled div:nth-child(2),
.neat-icon.ni-arrow-down--outline div:nth-child(2),
.neat-icon.ni-arrow-down--duotone div:nth-child(2) {
  top: 90.5%;
  left: 12.5%;
  width: 37.5%;
  height: 6.25%;
  transform-origin: bottom right;
  transform: rotate(45deg);
  background: var(--color-primary);
  border: none;
}

.neat-icon.ni-arrow-down--filled div:nth-child(3),
.neat-icon.ni-arrow-down--outline div:nth-child(3),
.neat-icon.ni-arrow-down--duotone div:nth-child(3) {
  top: 90.5%;
  left: 50%;
  width: 37.5%;
  height: 6.25%;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  background: var(--color-primary);
  border: none;
}