/* ALL */

.neat-icon.ni-chevron-up--filled div:nth-child(1),
.neat-icon.ni-chevron-up--outline div:nth-child(1),
.neat-icon.ni-chevron-up--duotone div:nth-child(1),
.neat-icon.ni-chevron-up--filled div:nth-child(4),
.neat-icon.ni-chevron-up--outline div:nth-child(4),
.neat-icon.ni-chevron-up--duotone div:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-chevron-up--filled div:nth-child(2),
.neat-icon.ni-chevron-up--outline div:nth-child(2),
.neat-icon.ni-chevron-up--duotone div:nth-child(2) {
  top: 25%;
  left: 0;
  width: 50%;
  height: 6.25%;
  transform-origin: top right;
  transform: rotate(-45deg);
  background: var(--color-primary);
  border: none;
}

.neat-icon.ni-chevron-up--filled div:nth-child(3),
.neat-icon.ni-chevron-up--outline div:nth-child(3),
.neat-icon.ni-chevron-up--duotone div:nth-child(3) {
  top: 25%;
  left: 50%;
  width: 50%;
  height: 6.25%;
  transform-origin: top left;
  transform: rotate(45deg);
  background: var(--color-primary);
  border: none;
}