/* ALL */

.neat-icon.ni-dots-vertical--filled div:nth-child(1),
.neat-icon.ni-dots-vertical--outline div:nth-child(1),
.neat-icon.ni-dots-vertical--duotone div:nth-child(1) {
  top: 18.75%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  transform: translateX(-50%);
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
}

.neat-icon.ni-dots-vertical--filled div:nth-child(2),
.neat-icon.ni-dots-vertical--outline div:nth-child(2),
.neat-icon.ni-dots-vertical--duotone div:nth-child(2),
.neat-icon.ni-dots-vertical--filled div:nth-child(3),
.neat-icon.ni-dots-vertical--outline div:nth-child(3),
.neat-icon.ni-dots-vertical--duotone div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  transform: translate(-50%, -50%);
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
}

.neat-icon.ni-dots-vertical--filled div:nth-child(4),
.neat-icon.ni-dots-vertical--outline div:nth-child(4),
.neat-icon.ni-dots-vertical--duotone div:nth-child(4) {
  top: 68.75%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  transform: translateX(-50%);
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
}