/* FILLED */

.neat-icon.ni-favorite--filled div:nth-child(1),
.neat-icon.ni-favorite--outline div:nth-child(1),
.neat-icon.ni-favorite--duotone div:nth-child(1),
.neat-icon.ni-favorite--outline div:nth-child(2),
.neat-icon.ni-favorite--filled div:nth-child(4),
.neat-icon.ni-favorite--outline div:nth-child(4),
.neat-icon.ni-favorite--duotone div:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-favorite--filled div:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 37.5%;
  height: 37.5%;
  background: var(--color-primary);
  border: none;
  transform: translate(-50%, -50%) rotate(45deg);
}

.neat-icon.ni-favorite--filled div:nth-child(2)::before {
  content: '';
  top: -42.5%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 50%;
  transform: translateX(-50%);
}

.neat-icon.ni-favorite--filled div:nth-child(2)::after {
  content: '';
  top: 0;
  left: 7.5%;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 50%;
  transform: translateX(-50%);
}

.neat-icon.ni-favorite--filled div:nth-child(3),
.neat-icon.ni-favorite--outline div:nth-child(3),
.neat-icon.ni-favorite--duotone div:nth-child(3) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  z-index: 2;
}

.neat-icon.ni-favorite--filled div:nth-child(3)::before,
.neat-icon.ni-favorite--outline div:nth-child(3)::before,
.neat-icon.ni-favorite--duotone div:nth-child(3)::before {
  content: '\2661';
  top: 53%;
  left: 50%;
  color: var(--color-primary);
  font-size: calc(var(--icon-size) / 1.25);
  line-height: calc(var(--icon-size) / 1.25);
  transform: translate(-50%, -50%) scale(1, .75);
}

.neat-icon.ni-favorite--filled div:nth-child(3)::after,
.neat-icon.ni-favorite--outline div:nth-child(3)::after,
.neat-icon.ni-favorite--duotone div:nth-child(3)::after {
  content: '\2661';
  top: 50%;
  left: 50%;
  color: var(--color-primary);
  font-size: calc(var(--icon-size) / 1.25);
  line-height: calc(var(--icon-size) / 1.25);
  transform: translate(-50%, -50%) scale(1, .75);
  text-shadow: calc(var(--icon-size) / 96) calc(var(--icon-size) / 96) 0 var(--color-primary), calc(var(--icon-size) / -96) calc(var(--icon-size) / -96) 0 var(--color-primary), calc(var(--icon-size) / -96) calc(var(--icon-size) / 96) 0 var(--color-primary), calc(var(--icon-size) / 96) calc(var(--icon-size) / -96) 0 var(--color-primary);
}

/* DUOTONE */

.neat-icon.ni-favorite--duotone div:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 37.5%;
  height: 37.5%;
  background: var(--color-secondary);
  border: none;
  transform: translate(-50%, -50%) rotate(45deg);
}

.neat-icon.ni-favorite--duotone div:nth-child(2)::before {
  content: '';
  top: -42.5%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  border-radius: 50%;
  transform: translateX(-50%);
}

.neat-icon.ni-favorite--duotone div:nth-child(2)::after {
  content: '';
  top: 0;
  left: 7.5%;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  border-radius: 50%;
  transform: translateX(-50%);
}