/* ALL */

.neat-icon.ni-loader-circle-spinning--filled div:nth-child(1),
.neat-icon.ni-loader-circle-spinning--outline div:nth-child(1),
.neat-icon.ni-loader-circle-spinning--duotone div:nth-child(1),
.neat-icon.ni-loader-circle-spinning--filled div:nth-child(2),
.neat-icon.ni-loader-circle-spinning--outline div:nth-child(2),
.neat-icon.ni-loader-circle-spinning--duotone div:nth-child(2),
.neat-icon.ni-loader-circle-spinning--filled div:nth-child(4),
.neat-icon.ni-loader-circle-spinning--outline div:nth-child(4),
.neat-icon.ni-loader-circle-spinning--duotone div:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-loader-circle-spinning--filled div:nth-child(3),
.neat-icon.ni-loader-circle-spinning--outline div:nth-child(3),
.neat-icon.ni-loader-circle-spinning--duotone div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 87.5%;
  height: 87.5%;
  background: transparent;
  border: calc(var(--icon-size) / 16) solid var(--color-secondary);
  border-radius: 50%;
  border-top-color: var(--color-primary);
  transform: translate(-50%, -50%);
  animation: spinning 1s ease-in-out infinite;
}

@keyframes spinning {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}