/* ALL */

.neat-icon.ni-login--filled div:nth-child(1),
.neat-icon.ni-login--outline div:nth-child(1),
.neat-icon.ni-login--duotone div:nth-child(1) {
  top: 50%;
  left: 6.25%;
  width: 56.25%;
  height: 6.25%;
  transform: translateY(-50%) rotate(180deg);
  background: var(--color-primary);
  border: none;
}

.neat-icon.ni-login--filled div:nth-child(2),
.neat-icon.ni-login--outline div:nth-child(2),
.neat-icon.ni-login--duotone div:nth-child(2) {
  top: 50%;
  left: 37.5%;
  width: 25%;
  height: 6.25%;
  transform-origin: bottom right;
  transform: translateY(-30%) rotate(45deg);
  background: var(--color-primary);
  border: none;
}

.neat-icon.ni-login--filled div:nth-child(3),
.neat-icon.ni-login--outline div:nth-child(3),
.neat-icon.ni-login--duotone div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 87.5%;
  height: 87.5%;
  background: transparent;
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-left-width: 0;
  border-radius: calc(var(--icon-size) / 16);
  transform: translate(-50%, -50%);
}

.neat-icon.ni-login--filled div:nth-child(3)::before,
.neat-icon.ni-login--outline div:nth-child(3)::before,
.neat-icon.ni-login--duotone div:nth-child(3)::before {
  content: '';
  top: 0;
  left: calc(var(--icon-size) / 16);
  width: 25%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  transform-origin: top left;
  transform: rotate(90deg);
}

.neat-icon.ni-login--filled div:nth-child(3)::after,
.neat-icon.ni-login--outline div:nth-child(3)::after,
.neat-icon.ni-login--duotone div:nth-child(3)::after {
  content: '';
  top: calc(100% - calc(var(--icon-size) / 16));
  left: calc(var(--icon-size) / 16);
  width: 25%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  transform-origin: bottom left;
  transform: rotate(-90deg);
}

.neat-icon.ni-login--filled div:nth-child(4),
.neat-icon.ni-login--outline div:nth-child(4),
.neat-icon.ni-login--duotone div:nth-child(4) {
  top: 50%;
  left: 37.5%;
  width: 25%;
  height: 6.25%;
  transform-origin: top right;
  transform: translateY(-70%) rotate(-45deg);
  background: var(--color-primary);
  border: none;
}