/* FILLED */

.neat-icon.ni-message-comment--filled div:nth-child(1) {
  top: 50%;
  left: 6.25%;
  width: 25%;
  height: 31.25%;
  background: var(--color-primary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  transform: skewY(-45deg);
  z-index: 1;
}

.neat-icon.ni-message-comment--filled div:nth-child(2) {
  top: 40.5%;
  left: 50%;
  width: 62.5%;
  height: calc(var(--icon-size) / 16);
  background: white;
  border: none;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.neat-icon.ni-message-comment--filled div:nth-child(2)::before {
  content: '';
  top: -225%;
  left: 0;
  width: 100%;
  height: calc(var(--icon-size) / 16);
  background: white;
  border: none;
  z-index: 3;
}

.neat-icon.ni-message-comment--filled div:nth-child(2)::after {
  content: '';
  top: 225%;
  left: 0;
  width: 100%;
  height: calc(var(--icon-size) / 16);
  background: white;
  border: none;
  z-index: 3;
}


.neat-icon.ni-message-comment--filled div:nth-child(3) {
  top: 6.25%;
  left: 50%;
  width: 87.5%;
  height: 62.5%;
  transform: translateX(-50%);
  background: var(--color-primary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-radius: calc(var(--icon-size) / 16);
  border-bottom: none;
  border-bottom-right-radius: 0;
  z-index: 2;
}

.neat-icon.ni-message-comment--filled div:nth-child(4),
.neat-icon.ni-message-comment--duotone div:nth-child(4) {
  top: 68.75%;
  left: 25%;
  width: 68.75%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border-radius: none;
  border-bottom-right-radius: calc(var(--icon-size) / 16);
  z-index: 3;
}

/* OUTLINE */

.neat-icon.ni-message-comment--outline div:nth-child(2),
.neat-icon.ni-message-comment--duotone div:nth-child(2) {
  top: 40.5%;
  left: 50%;
  width: 62.5%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border: none;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.neat-icon.ni-message-comment--outline div:nth-child(2)::before,
.neat-icon.ni-message-comment--duotone div:nth-child(2)::before {
  content: '';
  top: -225%;
  left: 0;
  width: 100%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border: none;
  z-index: 3;
}

.neat-icon.ni-message-comment--outline div:nth-child(2)::after,
.neat-icon.ni-message-comment--duotone div:nth-child(2)::after {
  content: '';
  top: 225%;
  left: 0;
  width: 100%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border: none;
  z-index: 3;
}

.neat-icon.ni-message-comment--outline div:nth-child(3) {
  top: 6.25%;
  left: 50%;
  width: 87.5%;
  height: 68.75%;
  transform: translateX(-50%);
  background: transparent;
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-bottom: none;
  border-radius: calc(var(--icon-size) / 16);
  border-bottom-left-radius: 0;
}

.neat-icon.ni-message-comment--outline div:nth-child(3)::after {
  content: '';
  top: 80%;
  left: 0;
  width: 32.75%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border-radius: none;
  transform-origin: top left;
  transform: rotate(90deg) skewX(45deg);
}

.neat-icon.ni-message-comment--outline div:nth-child(4) {
  top: 68.75%;
  left: 25%;
  width: 68.75%;
  height: calc(var(--icon-size) / 16);
  background: var(--color-primary);
  border-radius: none;
  border-bottom-right-radius: calc(var(--icon-size) / 16);
}

.neat-icon.ni-message-comment--outline div:nth-child(4)::before {
  content: '';
  top: 0;
  left: 0;
  width: 37.5%;
  height: calc(var(--icon-size) / 20);
  background: var(--color-primary);
  border-radius: none;
  transform-origin: center left;
  transform: rotate(135deg) skewX(-45deg);
}

/* DUOTONE */

.neat-icon.ni-message-comment--duotone div:nth-child(1) {
  top: 50%;
  left: 6.25%;
  width: 25%;
  height: 31.25%;
  background: var(--color-secondary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  transform: skewY(-45deg);
  z-index: 1;
}

.neat-icon.ni-message-comment--duotone div:nth-child(3) {
  top: 6.25%;
  left: 50%;
  width: 87.5%;
  height: 62.5%;
  transform: translateX(-50%);
  background: var(--color-secondary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-radius: calc(var(--icon-size) / 16);
  border-bottom: none;
  border-bottom-right-radius: 0;
  z-index: 2;
}