/* ALL */

.neat-icon.ni-redo--filled div:nth-child(1),
.neat-icon.ni-redo--outline div:nth-child(1),
.neat-icon.ni-redo--duotone div:nth-child(1),
.neat-icon.ni-redo--filled div:nth-child(3),
.neat-icon.ni-redo--outline div:nth-child(3),
.neat-icon.ni-redo--duotone div:nth-child(3),
.neat-icon.ni-redo--filled div:nth-child(4),
.neat-icon.ni-redo--outline div:nth-child(4),
.neat-icon.ni-redo--duotone div:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-redo--filled div:nth-child(2),
.neat-icon.ni-redo--outline div:nth-child(2),
.neat-icon.ni-redo--duotone div:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 72.25%;
  height: 72.25%;
  transform: translate(-50%, -30%) rotate(40deg); 
  background: transparent;
  border: calc(var(--icon-size) / 16) solid;
  border-top-color: var(--color-primary);
  border-bottom-color: transparent;
  border-left-color: var(--color-primary);
  border-right-color: transparent;
  border-radius: 50%;
}

.neat-icon.ni-redo--filled div:nth-child(2)::after,
.neat-icon.ni-redo--outline div:nth-child(2)::after,
.neat-icon.ni-redo--duotone div:nth-child(2)::after {
  content: '\25b6';
  top: -6.25%;
  left: 75%;
  color: var(--color-primary);
  font-size: calc(var(--icon-size) / 4);
  transform: rotate(45deg);
}