/* FILLED */

.neat-icon.ni-user-account--filled div:nth-child(1) {
  top: 18.75%;
  left: 50%;
  width: 31.25%;
  height: 31.25%;
  transform: translateX(-50%);
  background: var(--color-primary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-radius: 50%;
}

.neat-icon.ni-user-account--filled div:nth-child(2),
.neat-icon.ni-user-account--filled div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-user-account--filled div:nth-child(4) {
  top: 56.25%;
  left: 50%;
  width: 62.5%;
  height: 25%;
  transform: translateX(-50%);
  background: var(--color-primary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* OUTLINE */

.neat-icon.ni-user-account--outline div:nth-child(1) {
  top: 18.75%;
  left: 50%;
  width: 31.25%;
  height: 31.25%;
  transform: translateX(-50%);
  background: transparent;
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-radius: 50%;
}

.neat-icon.ni-user-account--outline div:nth-child(2),
.neat-icon.ni-user-account--outline div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-user-account--outline div:nth-child(4) {
  top: 56.25%;
  left: 50%;
  width: 62.5%;
  height: 25%;
  transform: translateX(-50%);
  background: transparent;
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* DUOTONE */

.neat-icon.ni-user-account--duotone div:nth-child(1) {
  top: 18.75%;
  left: 50%;
  width: 31.25%;
  height: 31.25%;
  transform: translateX(-50%);
  background: var(--color-secondary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-radius: 50%;
}

.neat-icon.ni-user-account--duotone div:nth-child(2),
.neat-icon.ni-user-account--duotone div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 12.5%;
  height: 12.5%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.neat-icon.ni-user-account--duotone div:nth-child(4) {
  top: 56.25%;
  left: 50%;
  width: 62.5%;
  height: 25%;
  transform: translateX(-50%);
  background: var(--color-secondary);
  border: calc(var(--icon-size) / 16) solid var(--color-primary);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}